
@{
    ViewBag.Title = "Index";
}

<h2>Lista dos melhores alunos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Bolsa</th>
            <th>Desconto</th>
            <th>Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
    $.ajax({
        url: "http://localhost:58692/api/Aluno/",
        method: "GET",
        success: function (data) {
            $.each(data, function (index, item) {
                //Criar uma nova linha
                var linha = $("<tr>");
                linha.append($("<td>").text(item.nome));
                linha.append($("<td>").text(item.bolsa));
                linha.append($("<td>").text(item.desconto));
                linha.append($("<td>").text(item.dataNascimento));

                $("tbody").append(linha);
            });
        }
    })

    //Regiao com javascript e o cadastro
    
</script>
